<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col col-6">
                <img src="imgs/loddf.png" alt="">
                <br><br>
                <p class="m-3 mb-5">
                    Lorem ipsum dolor sit amet consetuer dipiscing elit diam uismod tincidunt Lorem ipsum dolor t diam.
                </p>
                <div class="location mb-5 m-3">
                    <i class="fas fa-map-marker-alt mr-2" ></i>
                    Ad Doqi, Dokki, Giza Governorate
                </div>
                <div class="phones mb-5 m-3">
                    <i class="fas fa-phone-volume mr-2" ></i>
                    +201006126863 <br>
                    <i class="fas fa-phone-volume mr-2" ></i>
                    +201123488897 <br>
                    <i class="fas fa-phone-square mr-2" ></i>
                    04531433333
                </div>
                <div class="coppyRights mb-5 m-3">
                    <span>EduClever</span> - Copyright 2020. Design by <span>AhmedElgendy</span>
                </div>
            </div>
            <div class="col col-6 d-flex justify-content-end">
                <img src="imgs/img-kid.png" alt="" class="w-75">
            </div>
        </div>
    </div>

</footer>