<section class="scanAttendance">
    {{>header}}
    <div class="row">
        <div class="col col-4"></div>
        <div class="col col-8">
            <div class="container text-center">
                <div id="app">
                    <div class="preview-container">
                        <video id="preview" class="w-50 border" ></video>
                    </div>
                </div>
                <button class="btn btn-outline-secondary cam openCam mt-5">Open Camera</button>
                <button class="btn btn-outline-secondary cam closeCam mt-5">Close Camera</button>
            </div>
        </div>
    </div>

</section>
