<section class="new-event w-75 mx-auto p-4">
    <div>{{event.description}}</div>
    <form action="">
<!--        <input type="hidden" id="_id" name="_id" value="">-->
        <div class="form-group">
            <label for="formGroupExampleInput">Event Title</label>
            <input type="text" class="form-control" id="eventTitle" placeholder="Event Title" name="eventTitle" value="{{event.eventTitle}}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Event Description</label>
            <textarea class="form-control" id="eventDescription" rows="8" placeholder="Enter your event description" name="description">{{event.description}}</textarea>
        </div>

        <div class="form-group">
            <label for="">Start Date</label>
            <input class="date" type="datetime-local" id="eventDate"  name="eventDate" >
        </div>
    </form>
    <button class="btn btn-outline-secondary" type="submit" onclick="editEventData('/event/{{event._id}}')" >Submit</button>
</section>