<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Event</title>
</head>
<body>
    {{>header}}
    <header class="event-intro  text-center">
        <div class="layout h-100 w-100 d-flex  align-items-center justify-content-center">
            <div class="w-75">
                <h1 class="event-title pb-4">THE CHALLENGES OF BUSINESS INNOVATION</h1>
                <p class="event-time">April 17-21, 2019 • Vancouver</p>
                <div class="place1">
                    <span class="place p-3 border">Great Hall, Second flour</span>
                </div>
            </div>
        </div>
    </header>
    <section class="w-75 mx-auto details border">
        <div class=" text-center">
            <h3>ABOUT THE EVENT</h3>
            <div class="line"></div>
            <p>Event Begins In</p>

            <div class="d-flex justify-content-center">
                <div class="border p-3 m-3 time">
                    <div>20</div>
                    weeks
                </div>
                <div class="border p-3 m-3 time">
                    <div>20</div>
                    days
                </div>
                <div class="border p-3 m-3 time">
                    <div>20</div>
                    hr
                </div>
                <div class="border p-3 m-3 time">
                    <div>20</div>
                    min
                </div>
                <div class="border p-3 m-3 time">
                    <div>20</div>
                    sec
                </div>
            </div>
        </div>
        <div class="desc p-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur consequuntur ea eos et eveniet ipsa iure laboriosam laudantium, nam neque nihil perferendis possimus qui quibusdam rem repudiandae soluta voluptatem!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur consequuntur ea eos et eveniet ipsa iure laboriosam laudantium, nam neque nihil perferendis possimus qui quibusdam rem repudiandae soluta voluptatem!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur consequuntur ea eos et eveniet ipsa iure laboriosam laudantium, nam neque nihil perferendis possimus qui quibusdam rem repudiandae soluta voluptatem!
        </div>
    </section>
    <section class="hall d-flex ">
            <div class="col w-50">
                <img src="imgs/img_1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col w-50">
                <img src="imgs/img_2.jpg" class="img-fluid" alt="">
            </div>
    </section>

    <section class="speaker w-75 mx-auto p-2 overflow-hidden mt-5">
        <div class="text-center">
            <h3>Speakers</h3>
            <div class="line"></div>
        </div>
        <div class="row speaker-image">
            <div class="col-4 p-0  ">
                <div class="m-5 border overflow-hidden  rounded-circle">
                    <img src="imgs/person_5.jpg" class="img-fluid rounded-circle" alt="">
                </div>
                <div class="text-center">
                    <h4>WILL PETERS</h4>
                    <p>Business Consultant in Google</p>
                </div>
            </div>
            <div class="col-4 p-0  ">
                <div class="m-5 border overflow-hidden  rounded-circle">
                    <img src="imgs/person_4.jpg" class="img-fluid rounded-circle" alt="">
                </div>
                <div class="text-center">
                    <h4>WILL PETERS</h4>
                    <p>Business Consultant in Google</p>
                </div>
            </div>
            <div class="col-4  p-0  ">
                <div class="m-5 border overflow-hidden  rounded-circle">
                    <img src="imgs/person_5.jpg" class="img-fluid rounded-circle" alt="">
                </div>
                <div class="text-center">
                    <h4>WILL PETERS</h4>
                    <p>Business Consultant in Google</p>
                </div>
            </div>
        </div>
    </section>

</body>
</html>