<section class="profile">
    <div class="row">
<!--        left side-->
        <div class="col col-2 border">

            <div class="link p-3 text-center">
                <img src="https://via.placeholder.com/50" alt="" class="rounded-circle">
            </div>
            <div class="link p-3">
                <a href="">Home Page</a>
            </div>
            <div class="link p-3">
                <a href="">Chat</a>
            </div>
            <div class="link p-3">
                <a href="">Request Book</a>
            </div>
            <div class="link p-3">
                <a href="/calendar">Calender</a>
            </div>
            <div class="link p-3">
                <a href="/event">Event</a>
            </div>
            <div class="link p-3">
                <a href="">About Us</a>
            </div>
            <div class="link p-3">
                <a href="">Contact Us</a>
            </div>
        </div>

<!--        right side-->
        <div class="col col-10">
            <div class="intro text-center ">
                <div class="profile-pic p-4">
                    <img src="https://via.placeholder.com/150" alt="" class="rounded-circle">
                </div>
                <div class="profile-name">
                    <h2>Student Name</h2>
                    <div>
                        <span class="p-3">Level</span>
                        <span class="p-3">Class</span>
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="row">
                        <div class="col col-2">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Details
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div class="col col-2">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Courses
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div class="col col-2">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Schedule
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div class="col col-2">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Attendance
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div class="col col-2">
                            <div class="card-header" id="headingFive">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Exam
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div class="col col-2">
                            <div class="card-header" id="headingSix">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Result
                                    </button>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <!--             profile links content             -->


                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="basic">
                                <div class="border mb-5 p-3">
                                    <h4>Basic information</h4>
                                    <div class="row p-2 pl-5">
                                        <div class="col col-3">
                                            Full Name:
                                        </div>
                                        <div class="col col-8">
                                            Student Name
                                        </div>
                                        <div class="col col-1">
                                            <a href="">Edit</a>
                                        </div>
                                    </div>
                                    <div class="row p-2 pl-5">
                                        <div class="col col-3">
                                            Email:
                                        </div>
                                        <div class="col col-8">
                                            Student Email
                                        </div>
                                    </div>
                                    <div class="row p-2 pl-5">
                                        <div class="col col-3">
                                            Password:
                                        </div>
                                        <div class="col col-8">
                                            13ascd5265cd
                                        </div>
                                    </div>

                                </div>


                                <div class="border mb-5 p-3">
                                    <h4>Additional information</h4>
                                    <div class="row p-2 pl-5">
                                        <div class="col col-3">
                                            Address:
                                        </div>
                                        <div class="col col-8">
                                            Student address
                                        </div>
                                    </div>
                                    <div class="row p-2 pl-5">
                                        <div class="col col-3">
                                            Phone number:
                                        </div>
                                        <div class="col col-8">
                                            Student Number
                                        </div>
                                    </div>
                                    <div class="row p-2 pl-5">
                                        <div class="col col-3">
                                            Level:
                                        </div>
                                        <div class="col col-8">
                                            1
                                        </div>
                                    </div>
                                    <div class="row p-2 pl-5">
                                        <div class="col col-3">
                                            Gender:
                                        </div>
                                        <div class="col col-8">
                                            Male
                                        </div>
                                    </div>
                                    <div class="row p-2 pl-5">
                                        <div class="col col-3">
                                            Fee:
                                        </div>
                                        <div class="col col-8">
                                            True
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body border-bottom">
        <!--              header          -->
                            <div class="row">
                                <div class="col col-3 border border-right-0 p-4"><strong>Term</strong></div>
                                <div class="col col-6 border border-right-0 p-4"><strong>Subject</strong></div>
                                <div class="col col-3 border p-4"><strong>Grade</strong></div>
                            </div>
        <!--              body            -->
                            <div class="row">
                                <div class="col col-3 border border-right-0 border-top-0 p-3 pl-4">First</div>
                                <div class="col col-6 border border-right-0 border-top-0  p-3 pl-4">Computer Science</div>
                                <div class="col col-3 border border-top-0 p-3 pl-4">56</div>
                            </div>
                            <div class="row">
                                <div class="col col-3 border border-right-0 border-top-0 p-3 pl-4">First</div>
                                <div class="col col-6 border border-right-0 border-top-0  p-3 pl-4">Multimedia</div>
                                <div class="col col-3 border border-top-0 p-3 pl-4">80</div>
                            </div>
                            <div class="row">
                                <div class="col col-3 border border-right-0 border-top-0 p-3 pl-4">First</div>
                                <div class="col col-6 border border-right-0 border-top-0  p-3 pl-4">Network</div>
                                <div class="col col-3 border border-top-0 p-3 pl-4">67</div>
                            </div>
                            <div class="row">
                                <div class="col col-3 border border-right-0 border-top-0 p-3 pl-4">First</div>
                                <div class="col col-6 border border-right-0 border-top-0  p-3 pl-4">Files</div>
                                <div class="col col-3 border border-top-0 p-3 pl-4">63</div>
                            </div>
                        </div>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Saturday</th>
                                    <th scope="col">Sunday</th>
                                    <th scope="col">Monday</th>
                                    <th scope="col">Tuesday</th>
                                    <th scope="col">Wednesday</th>
                                    <th scope="col">Thursday</th>
                                    <th scope="col">Friday</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Otto</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Otto</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Otto</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Otto</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Otto</td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Otto</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">

                            <div class="container ">
                                <div class="card">
                                    <h3 class="card-header" id="monthAndYear"></h3>
                                    <table class="table table-bordered table-responsive-sm" id="calendar">
                                        <thead>
                                        <tr>
                                            <th>Sun</th>
                                            <th>Mon</th>
                                            <th>Tue</th>
                                            <th>Wed</th>
                                            <th>Thu</th>
                                            <th>Fri</th>
                                            <th>Sat</th>
                                        </tr>
                                        </thead>

                                        <tbody id="calendar-body">

                                        </tbody>
                                    </table>

                                    <div class="form-inline">

                                        <button class="btn btn-outline-primary col-sm-6" id="previous" onclick="previous()">Previous</button>

                                        <button class="btn btn-outline-primary col-sm-6" id="next" onclick="next()">Next</button>
                                    </div>
                                    <br/>
                                    <form class="form-inline">
                                        <label class="lead mr-2 ml-2" for="month">Jump To: </label>
                                        <select class="form-control col-sm-4" name="month" id="month" onchange="jump()">
                                            <option value=0>Jan</option>
                                            <option value=1>Feb</option>
                                            <option value=2>Mar</option>
                                            <option value=3>Apr</option>
                                            <option value=4>May</option>
                                            <option value=5>Jun</option>
                                            <option value=6>Jul</option>
                                            <option value=7>Aug</option>
                                            <option value=8>Sep</option>
                                            <option value=9>Oct</option>
                                            <option value=10>Nov</option>
                                            <option value=11>Dec</option>
                                        </select>


                                        <label for="year"></label><select class="form-control col-sm-4" name="year" id="year" onchange="jump()">
                                        <option value=1990>1990</option>
                                        <option value=1991>1991</option>
                                        <option value=1992>1992</option>
                                        <option value=1993>1993</option>
                                        <option value=1994>1994</option>
                                        <option value=1995>1995</option>
                                        <option value=1996>1996</option>
                                        <option value=1997>1997</option>
                                        <option value=1998>1998</option>
                                        <option value=1999>1999</option>
                                        <option value=2000>2000</option>
                                        <option value=2001>2001</option>
                                        <option value=2002>2002</option>
                                        <option value=2003>2003</option>
                                        <option value=2004>2004</option>
                                        <option value=2005>2005</option>
                                        <option value=2006>2006</option>
                                        <option value=2007>2007</option>
                                        <option value=2008>2008</option>
                                        <option value=2009>2009</option>
                                        <option value=2010>2010</option>
                                        <option value=2011>2011</option>
                                        <option value=2012>2012</option>
                                        <option value=2013>2013</option>
                                        <option value=2014>2014</option>
                                        <option value=2015>2015</option>
                                        <option value=2016>2016</option>
                                        <option value=2017>2017</option>
                                        <option value=2018>2018</option>
                                        <option value=2019>2019</option>
                                        <option value=2020>2020</option>
                                        <option value=2021>2021</option>
                                        <option value=2022>2022</option>
                                        <option value=2023>2023</option>
                                        <option value=2024>2024</option>
                                        <option value=2025>2025</option>
                                        <option value=2026>2026</option>
                                        <option value=2027>2027</option>
                                        <option value=2028>2028</option>
                                        <option value=2029>2029</option>
                                        <option value=2030>2030</option>
                                    </select></form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body border-bottom">
                    <!--              header          -->
                            <div class="row">
                                <div class="col col-2 border border-right-0 p-4"><strong>Exam Type</strong></div>
                                <div class="col col-4 border border-right-0 p-4"><strong>Subject</strong></div>
                                <div class="col col-4 border border-right-0 p-4"><strong>Deadline</strong></div>
                                <div class="col col-2 border p-4"><strong>Make Exam</strong></div>
                            </div>
                    <!--              body            -->
                            <div class="row">
                                <div class="col col-2 border border-right-0 border-top-0 p-3 pl-4">Midterm</div>
                                <div class="col col-4 border border-right-0 border-top-0  p-3 pl-4">Computer Science</div>
                                <div class="col col-4 border border-right-0 border-top-0  p-3 pl-4">70 hours</div>
                                <div class="col col-2 border border-top-0 p-3 pl-4">
                                    <a href="">Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                        <div class="card-body">

                            <!--              header          -->
                            <div class="row">
                                <div class="col col-3 border border-right-0 p-4"><strong>Exam Type</strong></div>
                                <div class="col col-6 border border-right-0 p-4"><strong>Subject</strong></div>
                                <div class="col col-3 border p-4"><strong>Exam Grade</strong></div>
                            </div>
                            <!--              body            -->
                            <div class="row">
                                <div class="col col-3 border border-right-0 border-top-0 p-3 pl-4">Midterm</div>
                                <div class="col col-6 border border-right-0 border-top-0  p-3 pl-4">Computer Science</div>
                                <div class="col col-3 border border-top-0 p-3 pl-4">15.5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>