<section class="question-bank container">

    <form>
        <div class="row d-flex align-items-center">
            <div class="col col-4">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Level</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="col col-4">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Subject</label>
                    <select class="form-control" id="exampleFormControlSelect2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="col col-4">
                <input type="submit" value="Search" class="btn btn-outline-info">
            </div>

        </div>
    </form>
    <div class="mcq my-4">
        <h2>Multi-Choice Question</h2>
        <form action="">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1">
                <div class="row">
                    <!--        question content-->
                    <div class="col col-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</div>
                    <!--        choice-->
                    <ol>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                    </ol>
                    <!--        answer-->
                    <div class="col col-12"><span>Answer: <br></span>2. Lorem ipsum</div>
                </div>
            </label><br>
            <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
            <label for="vehicle2">
                <div class="row">
                    <!--        question content-->
                    <div class="col col-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</div>
                    <!--        choice-->
                    <ol>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                    </ol>
                    <!--        answer-->
                    <div class="col col-12"><span>Answer: <br></span>3. Lorem ipsum</div>
                </div>
            </label><br>
            <input type="submit" value="Submit">
        </form>

    </div>
    <hr>
    <div class="correct">
        <h2>Correct Question</h2>
        <form action="">
            <input type="checkbox" id="vehicle11" name="vehicle11" value="Bike">
            <label for="vehicle11">
                <div class="row">
                    <!--        question content-->
                    <div class="col col-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</div>
                    <!--        choice-->
                    <ol>
                        <li>True</li>
                        <li>False</li>
                    </ol>
                    <!--        answer-->
                    <div class="col col-12"><span>Answer: <br></span>2. False</div>
                </div>
            </label><br>
            <input type="checkbox" id="vehicle22" name="vehicle22" value="Car">
            <label for="vehicle22">
                <div class="row">
                    <!--        question content-->
                    <div class="col col-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</div>
                    <!--        choice-->
                    <ol>
                        <li>True</li>
                        <li>False</li>
                    </ol>
                    <!--        answer-->
                    <div class="col col-12"><span>Answer: <br></span>1: True</div>
                </div>
            </label><br>
            <input type="submit" value="Submit">
        </form>
    </div>

</section>