<section class="student-time-table w-75 mx-auto">
    <form action="">
        <div class="form-row  m-4">
            <div class="form-group col-md-6 ">
                <div class="p-4">
                    <label>Level</label>
                    <select class="form-control" name="level" id="level">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="p-4">
                    <label>Day</label>
                    <select class="form-control" id="day" name="day">
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="p-4">
                    <label>Slot</label>
                    <select class="form-control" id="slot" name="slot">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="p-4">
                    <label>Subject</label>
                    <select class="form-control" name="subject" id="subject">
                        <optgroup label="1st Term">
                            <option value="Math">Math</option>
                            <option value="CS">CS</option>
                            <option value="DataBase">Database</option>
                            <option value="MIS">MIS</option>
                            <option value="Electronics">Electronics</option>
                        </optgroup>
                        <optgroup label="2nd Term">
                            <option value="Math 2">Math 2</option>
                            <option value="CS 2">CS 2</option>
                            <option value="DataBase 2">Database 2</option>
                            <option value="MIS 2">MIS 2</option>
                            <option value="Electronics 2">Electronics 2</option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <div class="ml-4">
        <button type="submit" class="btn btn-outline-secondary" onclick="sendLectureData()">Submit</button>
    </div>


</section>
<br><br>
<hr style="background-color: #86939e !important;">
<div class="time-table ">
    <form action="">
        <div class="form-group col-md-6 ">
            <div class="p-2">
                <label>Level</label>
                <select class="form-control" id="tableLevel">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
        </div>
    </form>
    <button type="submit" class="btn btn-outline-secondary mx-2" onclick="getTimetableByLevel('timeTable')">Submit
    </button>
    <br><br>
    <table class="table  table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td><input id="Saturday1" value="" type="text" readonly></td>
            <td><input id="Sunday1" value="" type="text" readonly></td>
            <td><input id="Monday1" value="" type="text" readonly></td>
            <td><input id="Tuesday1" value="" type="text" readonly></td>
            <td><input id="Wednesday1" value="" type="text" readonly></td>
            <td><input id="Thursday1" value="" type="text" readonly></td>
            <td><input id="Friday1" value="" type="text" readonly></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><input id="Saturday2" value="" type="text" readonly></td>
            <td><input id="Sunday2" value="" type="text" readonly></td>
            <td><input id="Monday2" value="" type="text" readonly></td>
            <td><input id="Tuesday2" value="" type="text" readonly></td>
            <td><input id="Wednesday2" value="" type="text" readonly></td>
            <td><input id="Thursday2" value="" type="text" readonly></td>
            <td><input id="Friday2" value="" type="text" readonly></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><input id="Saturday3" value="" type="text" readonly></td>
            <td><input id="Sunday3" value="" type="text" readonly></td>
            <td><input id="Monday3" value="" type="text" readonly></td>
            <td><input id="Tuesday3" value="" type="text" readonly></td>
            <td><input id="Wednesday3" value="" type="text" readonly></td>
            <td><input id="Thursday3" value="" type="text" readonly></td>
            <td><input id="Friday3" value="" type="text" readonly></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td><input id="Saturday4" value="" type="text" readonly></td>
            <td><input id="Sunday4" value="" type="text" readonly></td>
            <td><input id="Monday4" value="" type="text" readonly></td>
            <td><input id="Tuesday4" value="" type="text" readonly></td>
            <td><input id="Wednesday4" value="" type="text" readonly></td>
            <td><input id="Thursday4" value="" type="text" readonly></td>
            <td><input id="Friday4" value="" type="text" readonly></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td><input id="Saturday5" value="" type="text" readonly></td>
            <td><input id="Sunday5" value="" type="text" readonly></td>
            <td><input id="Monday5" value="" type="text" readonly></td>
            <td><input id="Tuesday5" value="" type="text" readonly></td>
            <td><input id="Wednesday5" value="" type="text" readonly></td>
            <td><input id="Thursday5" value="" type="text" readonly></td>
            <td><input id="Friday5" value="" type="text" readonly></td>
        </tr>
        </tbody>
    </table>
</div>
