<section class="view-book w-75 mx-auto">
    <form action="">
        <div class="form-group">
            <label for="formGroupExampleInput">Event Title</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="book title">
        </div>

        <button class="btn btn-outline-secondary" type="submit">Submit</button>
    </form>
    <br><br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col"><i>Book Title</i></th>
            <th scope="col"><i>Auther</i></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
        </tr>
    </table>
</section>